.navbar{
    display: flex;
    justify-content: space-between;
}
.containerFluid{
    background-image: url(../assets/Navbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    
}
.navbar img{
    width:100px;
    height:100px;
}
.icons img{
    width: 15px;
    height: 15px;
}
.icons{
    margin-top: 30px;
}

.icons a{
    text-decoration: none;
    color: white;
}
.text{
    margin-top: 30px;
}
.text a{
    margin: 20px;
    text-decoration: none;
    color: white;
}
.button{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 51);
    border-radius: 18px;
    margin: 20px;
    padding: 10px;
}
.submit{
    display: flex;
    justify-content: center;
    margin-top: 360px;
}